/*  */
.layer_container {
    width: 100%;
    height: 70%;

    display: flex;
    flex-direction: column;
}

.layer_list {
    width: 100%;
    height: 100%;

    background-color: lightgrey;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.tab_title {
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding-left: 15px;
}

.layer_name {
    font-size: 18px;
    padding-left: 25px;
}

/* 토글 사이 간격 띄우기 */
details > summary {
    margin-top: 4%;
}

.layer_info {
    width: 100%;
    float: left;
    background-color: #4e5058;
}

.layer_info_title {
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    font-weight: bold;
    color: white;
}
